
body{
    margin: 0;
}

.content__galeria{
    display: flex;
    width: 600px;
    height: 430px;
}
  
.content__galeria img{
    width: 0;
    flex-grow: 1;
    object-fit: cover;
    opacity: 0.8;
    transition: .5s ease;
}

.content__galeria img:hover{
    cursor: crosshair;
    width: 300px;
    opacity: 1;
    filter: contrast(120%);
}